<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PSICO</display-name>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>ultima-#{guestPreferences.theme}</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/primefaces-ultima.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/error/sessionExpired.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/paginas/error1.jsf</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/paginas/404.jsf</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/paginas/error1.jsf</location>
  </error-page>
  <security-constraint>
    <display-name>Protegido</display-name>
    <web-resource-collection>
      <web-resource-name>Protegido</web-resource-name>
      <description></description>
      <url-pattern>/paginas/index.jsf</url-pattern>
      <url-pattern>/paginas/ficha/*</url-pattern>
      <url-pattern>/paginas/parametros/*</url-pattern>
      <url-pattern>/paginas/personas/*</url-pattern>
      <url-pattern>/paginas/usuarios/*</url-pattern>
      <url-pattern>/paginas/instituciones/*</url-pattern>
      <url-pattern>/paginas/actividadEconomica/*</url-pattern>
      <url-pattern>/paginas/condicionesPerjudiciales/*</url-pattern>
      <url-pattern>/paginas/accionesViolentas/*</url-pattern>
      <url-pattern>/paginas/tareasPeligrosas/*</url-pattern>
      <url-pattern>/paginas/pais/*</url-pattern>
      <url-pattern>/reportes/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>ADMINISTRADOR</role-name>
      <role-name>DOCTOR</role-name>
      <role-name>PACIENTE</role-name>
      <role-name>ASISTENTE</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>psico-realm</realm-name>
    <form-login-config>
      <form-login-page>/paginas/login.jsf</form-login-page>
      <form-error-page>/paginas/error.jsf</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description></description>
    <role-name>ADMINISTRADOR</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>DOCTOR</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>PACIENTE</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>ASISTENTE</role-name>
  </security-role>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/font-sfnt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>application/font-woff2</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot?#iefix</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exosemibold</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exobolditalic</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exomedium</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#exoregular</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg#fontawesomeregular</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
</web-app>